.imdb {
  margin-bottom: 20px;

  span {
    background-color: #F5C518;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
.image {
  font-size: 0;
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}